<h1>Angular Router App</h1>
<nav>
	<ul>
		<li>
			<a
				routerLink="/dashboard"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
			>
				Dashboard
			</a>
		</li>
		<li>
			<a
				routerLink="/auth"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
			>
				Auth
			</a>
		</li>
		<li>
			<a
				routerLink="/404"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
			>
				404
			</a>
		</li>
		<li>
			<a
				routerLink="/asdasdasd"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
			>
				asdasdasd
			</a>
		</li>
	</ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
